.navbar {
    display: flex;
    padding: 10px 20px;
    height: 48px;
    align-items: center;
    background-color: white;
}

.button {
    padding: 2px 4px;
    display: flex;
    border: 1px solid #c4c4c4;
    gap:12px;
    border-radius: 4px;
    align-items: center;
}

.display-text{
    font-size: 14px;
}