html, body, #root {
    width: 100%;
    height: 100%;
}
.App{
    width: 100%;
    height: 100%;
    background-color: #dfe0e0;
    margin: 0;   
    display: flex;
    flex-direction: column;
}
.page {
    box-sizing: border-box;
    padding:16px;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.row {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: max-content;
    gap:40px; 
}

.column{
    flex-direction: column;
    display: flex;
    width: 340px;
    gap: 16px;
}